openapi: 3.0.0
info:
  title: NFTTOOLS API DOCS FOR MAGIC EDEN
  version: 1.0.0
  description: A comprehensive API for interacting with Magic Eden, providing tools to handle collections, tokens, activity, bid, list, and buy on Solana, Bitcoin, Ethereum, Base, and Polygon chains.
servers:
  - url: https://nfttools.pro/magiceden
tags:
  - name: Solana
    description: Endpoints related to Solana blockchain
  - name: Bitcoin
    description: Endpoints related to Bitcoin blockchain
  - name: Ethereum
    description: Endpoints related to Ethereum blockchain
  - name: Base
    description: Endpoints related to Base blockchain
  - name: Polygon
    description: Endpoints related to Polygon blockchain
paths:
  /idxv2/getListedNftsByCollectionSymbol:
    get:
      tags:
        - Solana
        - Tokens
      summary: Get Listed NFTs by Collection Symbol
      description: Fetches listed NFTs by the specified collection symbol.
      parameters:
        - in: query
          name: collectionSymbol
          required: true
          schema:
            type: string
          description: The symbol of the NFT collection.
        - in: query
          name: onChainCollectionAddress
          required: true
          schema:
            type: string
          description: The on-chain address of the collection.
        - in: query
          name: direction
          required: true
          schema:
            type: integer
            example: 2
          description: Direction of the listing.
        - in: query
          name: field
          required: true
          schema:
            type: integer
            example: 1
          description: Field to sort by.
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            example: 100
          description: Number of results to return.
        - in: query
          name: token22StandardFilter
          required: true
          schema:
            type: integer
            example: 1
          description: Token 22 standard filter.
        - in: query
          name: mode
          required: true
          schema:
            type: string
            example: "all"
          description: Mode of the listing.
        - in: query
          name: agg
          required: true
          schema:
            type: integer
            example: 3
          description: Aggregation mode.
        - in: query
          name: compressionMode
          required: true
          schema:
            type: string
            example: "both"
          description: Compression mode.
        - in: header
          name: X-NFT-API-Key
          required: true
          schema:
            type: string
          description: NFTTOOLS API key for authentication.
      responses:
        "200":
          description: A list of NFTs
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/ListedNft"
                  result:
                    type: string
        "400":
          description: Bad request
        "500":
          description: Internal server error

  /collection_stats/search/base:
    get:
      summary: Fetch Collection Stats
      description: Retrieve collection stats based on specified parameters.
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            example: 0
          required: true
          description: The offset for pagination.
        - in: query
          name: window
          schema:
            type: string
            example: 6h
          required: true
          description: The time window for stats.
        - in: query
          name: limit
          schema:
            type: integer
            example: 100
          required: true
          description: The number of results to return.
        - in: query
          name: sort
          schema:
            type: string
            example: sales
          required: true
          description: The field to sort by.
        - in: query
          name: direction
          schema:
            type: string
            example: desc
          required: true
          description: The direction of sorting.
        - in: query
          name: filter
          schema:
            type: string
            example: "{}"
          required: true
          description: The filter to apply.
        - in: header
          name: X-NFT-API-Key
          required: true
          schema:
            type: string
          description: NFTTOOLS API key for authentication.
      responses:
        "200":
          description: A list of collection stats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CollectionStats"
        "400":
          description: Bad request
        "500":
          description: Internal server error
      security:
        - apiKeyAuth: []
  /api/solana/tokens:
    get:
      tags:
        - Solana
        - Tokens
      summary: Get Solana tokens
      responses:
        "200":
          description: Returns a list of Solana tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/solana/activity:
    get:
      tags:
        - Solana
        - Activity
      summary: Get Solana activity
      responses:
        "200":
          description: Returns Solana activity
  /api/solana/bid:
    post:
      tags:
        - Solana
        - Bid
      summary: Place a bid on Solana
      responses:
        "200":
          description: Bid placed successfully
  /api/solana/list:
    post:
      tags:
        - Solana
        - List
      summary: List an item on Solana
      responses:
        "200":
          description: Item listed successfully
  /api/solana/buy:
    post:
      tags:
        - Solana
        - Buy
      summary: Buy an item on Solana
      responses:
        "200":
          description: Item bought successfully
  /api/solana/user:
    get:
      tags:
        - Solana
        - User
      summary: Get Solana user information
      responses:
        "200":
          description: Returns Solana user information
  /api/solana/rewards:
    get:
      tags:
        - Solana
        - Rewards
      summary: Get Solana rewards
      responses:
        "200":
          description: Returns Solana rewards
  /api/solana/balance:
    get:
      tags:
        - Solana
        - Balance
      summary: Get Solana balance
      responses:
        "200":
          description: Returns Solana balance
  /api/bitcoin/collections:
    get:
      tags:
        - Bitcoin
        - Collections
      summary: Get Bitcoin collections
      responses:
        "200":
          description: Returns a list of Bitcoin collections
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/bitcoin/tokens:
    get:
      tags:
        - Bitcoin
        - Tokens
      summary: Get Bitcoin tokens
      responses:
        "200":
          description: Returns a list of Bitcoin tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/bitcoin/activity:
    get:
      tags:
        - Bitcoin
        - Activity
      summary: Get Bitcoin activity
      responses:
        "200":
          description: Returns Bitcoin activity
  /api/bitcoin/bid:
    post:
      tags:
        - Bitcoin
        - Bid
      summary: Place a bid on Bitcoin
      responses:
        "200":
          description: Bid placed successfully
  /api/bitcoin/list:
    post:
      tags:
        - Bitcoin
        - List
      summary: List an item on Bitcoin
      responses:
        "200":
          description: Item listed successfully
  /api/bitcoin/buy:
    post:
      tags:
        - Bitcoin
        - Buy
      summary: Buy an item on Bitcoin
      responses:
        "200":
          description: Item bought successfully
  /api/bitcoin/user:
    get:
      tags:
        - Bitcoin
        - User
      summary: Get Bitcoin user information
      responses:
        "200":
          description: Returns Bitcoin user information
  /api/bitcoin/rewards:
    get:
      tags:
        - Bitcoin
        - Rewards
      summary: Get Bitcoin rewards
      responses:
        "200":
          description: Returns Bitcoin rewards
  /api/bitcoin/balance:
    get:
      tags:
        - Bitcoin
        - Balance
      summary: Get Bitcoin balance
      responses:
        "200":
          description: Returns Bitcoin balance

  /api/ethereum/collections:
    get:
      tags:
        - Ethereum
        - Collections
      summary: Get Ethereum collections
      responses:
        "200":
          description: Returns a list of Ethereum collections
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/ethereum/tokens:
    get:
      tags:
        - Ethereum
        - Tokens
      summary: Get Ethereum tokens
      responses:
        "200":
          description: Returns a list of Ethereum tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/ethereum/activity:
    get:
      tags:
        - Ethereum
        - Activity
      summary: Get Ethereum activity
      responses:
        "200":
          description: Returns Ethereum activity
  /api/ethereum/bid:
    post:
      tags:
        - Ethereum
        - Bid
      summary: Place a bid on Ethereum
      responses:
        "200":
          description: Bid placed successfully
  /api/ethereum/list:
    post:
      tags:
        - Ethereum
        - List
      summary: List an item on Ethereum
      responses:
        "200":
          description: Item listed successfully
  /api/ethereum/buy:
    post:
      tags:
        - Ethereum
        - Buy
      summary: Buy an item on Ethereum
      responses:
        "200":
          description: Item bought successfully
  /api/ethereum/user:
    get:
      tags:
        - Ethereum
        - User
      summary: Get Ethereum user information
      responses:
        "200":
          description: Returns Ethereum user information
  /api/ethereum/rewards:
    get:
      tags:
        - Ethereum
        - Rewards
      summary: Get Ethereum rewards
      responses:
        "200":
          description: Returns Ethereum rewards
  /api/ethereum/balance:
    get:
      tags:
        - Ethereum
        - Balance
      summary: Get Ethereum balance
      responses:
        "200":
          description: Returns Ethereum balance
  /api/base/collections:
    get:
      tags:
        - Base
        - Collections
      summary: Get Base collections
      responses:
        "200":
          description: Returns a list of Base collections
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/base/tokens:
    get:
      tags:
        - Base
        - Tokens
      summary: Get Base tokens
      responses:
        "200":
          description: Returns a list of Base tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/base/activity:
    get:
      tags:
        - Base
        - Activity
      summary: Get Base activity
      responses:
        "200":
          description: Returns Base activity
  /api/base/bid:
    post:
      tags:
        - Base
        - Bid
      summary: Place a bid on Base
      responses:
        "200":
          description: Bid placed successfully
  /api/base/list:
    post:
      tags:
        - Base
        - List
      summary: List an item on Base
      responses:
        "200":
          description: Item listed successfully
  /api/base/buy:
    post:
      tags:
        - Base
        - Buy
      summary: Buy an item on Base
      responses:
        "200":
          description: Item bought successfully
  /api/base/user:
    get:
      tags:
        - Base
        - User
      summary: Get Base user information
      responses:
        "200":
          description: Returns Base user information
  /api/base/rewards:
    get:
      tags:
        - Base
        - Rewards
      summary: Get Base rewards
      responses:
        "200":
          description: Returns Base rewards
  /api/base/balance:
    get:
      tags:
        - Base
        - Balance
      summary: Get Base balance
      responses:
        "200":
          description: Returns Base balance

  /api/polygon/collections:
    get:
      tags:
        - Polygon
        - Collections
      summary: Get Polygon collections
      responses:
        "200":
          description: Returns a list of Polygon collections
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/polygon/tokens:
    get:
      tags:
        - Polygon
        - Tokens
      summary: Get Polygon tokens
      responses:
        "200":
          description: Returns a list of Polygon tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /api/polygon/activity:
    get:
      tags:
        - Polygon
        - Activity
      summary: Get Polygon activity
      responses:
        "200":
          description: Returns Polygon activity
  /api/polygon/bid:
    post:
      tags:
        - Polygon
        - Bid
      summary: Place a bid on Polygon
      responses:
        "200":
          description: Bid placed successfully
  /api/polygon/list:
    post:
      tags:
        - Polygon
        - List
      summary: List an item on Polygon
      responses:
        "200":
          description: Item listed successfully
  /api/polygon/buy:
    post:
      tags:
        - Polygon
        - Buy
      summary: Buy an item on Polygon
      responses:
        "200":
          description: Item bought successfully
  /api/polygon/user:
    get:
      tags:
        - Polygon
        - User
      summary: Get Polygon user information
      responses:
        "200":
          description: Returns Polygon user information
  /api/polygon/rewards:
    get:
      tags:
        - Polygon
        - Rewards
      summary: Get Polygon rewards
      responses:
        "200":
          description: Returns Polygon rewards
  /api/polygon/balance:
    get:
      tags:
        - Polygon
        - Balance
      summary: Get Polygon balance
      responses:
        "200":
          description: Returns Polygon balance

components:
  schemas:
    ListedNft:
      type: object
      properties:
        isCompressed:
          type: boolean
        isTradeable:
          type: boolean
        tokenOwnershipStandard:
          type: string
        mintAddress:
          type: string
        supply:
          type: integer
        title:
          type: string
        primarySaleHappened:
          type: boolean
        updateAuthority:
          type: string
        onChainCollection:
          $ref: "#/components/schemas/OnChainCollection"
        sellerFeeBasisPoints:
          type: integer
        creators:
          type: array
          items:
            $ref: "#/components/schemas/Creator"
        price:
          type: number
        solPrice:
          $ref: "#/components/schemas/SolPrice"
        escrowPubkey:
          type: string
        img:
          type: string
        attributes:
          type: array
          items:
            $ref: "#/components/schemas/Attribute"
        properties:
          $ref: "#/components/schemas/Properties"
        propertyCategory:
          type: string
        animationURL:
          type: string
        externalURL:
          type: string
        content:
          type: string
        collectionName:
          type: string
        collectionTitle:
          type: string
        owner:
          type: string
        id:
          type: string
        listingType:
          type: string
        listingUpdatedAt:
          $ref: "#/components/schemas/Timestamp"
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        tokenStandard:
          type: integer

    OnChainCollection:
      type: object
      properties:
        key:
          type: string
        verified:
          type: integer
        data:
          $ref: "#/components/schemas/CollectionData"

    CollectionData:
      type: object
      properties:
        name:
          type: string
        image:
          type: string
        description:
          type: string

    Creator:
      type: object
      properties:
        share:
          type: integer
        address:
          type: string
        verified:
          type: boolean

    SolPrice:
      type: object
      properties:
        rawAmount:
          type: string
        address:
          type: string
        decimals:
          type: integer

    Attribute:
      type: object
      properties:
        trait_type:
          type: string
        value:
          type: string

    Properties:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/File"
        category:
          type: string
        creators:
          type: array
          items:
            $ref: "#/components/schemas/Creator"

    File:
      type: object
      properties:
        uri:
          type: string
        type:
          type: string

    Timestamp:
      type: object
      properties:
        updatedAt:
          type: string
          format: date-time
        slot:
          type: integer

    CollectionStats:
      type: object
      properties:
        chain:
          type: string
          example: base
        name:
          type: string
          example: Zillas Based
        collectionSymbol:
          type: string
          example: zillas-based
        collectionId:
          type: string
          example: 0x814899ff414bcc7e8c396bbbd7f7a3178855ae90
        vol:
          type: number
          example: 0.01157
        totalVol:
          type: number
          example: 0.179319999
        volPctChg:
          type: number
          example: -86.83431953
        txns:
          type: integer
          example: 106
        txnsPctChg:
          type: number
          example: -52.46636771
        fp:
          type: number
          example: 0.00004
        fpPctChg:
          type: number
          example: 33.33333333333335
        fpListingPrice:
          type: number
          example: 0.00004
        fpListingCurrency:
          type: string
          example: ETH
        highestGlobalOfferBidCurrency:
          type: string
          example: ETH
        marketCap:
          type: number
          example: 0.35552
        totalSupply:
          type: integer
          example: 8888
        listedCount:
          type: integer
          example: 917
        ownerCount:
          type: integer
          example: 2162
        uniqueOwnerRatio:
          type: number
          example: 0.24324932493249324
        image:
          type: string
          example: https://img.reservoir.tools/images/v2/base/z9JRSpLYGu7%2BCZoKWtAuAHHi8sdkiV1ldJ1nW3bLOdz4KNjnrqaKjQ0AC6UYBj0MDdvnAL2nEa%2FQjjm%2BT%2BPwXC4ijUidVLxQ%2F4jPy7w7R6PUaHwew3CWDae2vie9jJyRLKXaFN2t%2F00b%2FQdqQQv%2BdQ%3D%3D?width=250
        isCompressed:
          type: boolean
          example: false
        isVerified:
          type: boolean
          example: false
        hasInscriptions:
          type: boolean
          example: false
        currency:
          type: string
          example: ETH
        currencyUsdRate:
          type: number
          example: 3768.53
        marketCapUsd:
          type: number
          example: 1339.7877856
